# Mac
.DS_Store

# Prerequisites
*.d
.prjconfig
parse.c
parse.h
scan.c

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
jl

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
parse.output
tests/examples/good/*.asm
tests/examples/good/*.qua
tests/out
tests/test_results

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
